body {
  background-color: rgb(203, 221, 233);
  margin-top: 5rem;
   {
  }
}
.info {
  text-decoration: wrap;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 12px;
  padding: 10px;
}
p {
  font-size: 15px;
}
img {
  width: 300px;
  border-radius: 15px;
}
.content {
  border: 2px solid white;
  border-radius: 20px;
  width: 25%;
  display: block;
  margin: 0 auto;
  background-color: white;
}
